.containerSinopse {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.sinopse {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
  }

@media (max-width: 600px) {   
    .sinopse {
      display: none;
    }
}