.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .screen {
    width: 112%;
    height: 20px;
    background-color: #d3d3d3;
    
    margin-bottom: 10px;
  }
  
  .label {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .legenda {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .AcentoCinzaBOLINHA,
  .AcentoBrancoBOLINHA,
  .AcentoVermelhoBOLINHA {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .screen {
  background-color: #bababa;
}

.AcentoCinzaBOLINHA {
  background-color: #505050;
}

.AcentoBrancoBOLINHA {
  background-color: #000000;
}

.AcentoVermelhoBOLINHA {
  background-color: #db3d2e;
}

@media (prefers-color-scheme: dark) {
  .screen {
    background-color: #505050;
  }

  .AcentoCinzaBOLINHA {
    background-color: #505050;
  }

  .AcentoBrancoBOLINHA {
    background-color: #f0f0f0;
  }

  .AcentoVermelhoBOLINHA {
    background-color: #cd4a3e;
  }
}

  